<!DOCTYPE html>
<html>
  <head>
    <link href='/favicon.ico' rel='shortcut icon'/>
    <title>Next Draw</title>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=301124913339612";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
     <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/mystyle.css' />
      <link href='http://fonts.googleapis.com/css?family=Rancho' rel='stylesheet' type='text/css'>
  </head>
  <body>
     <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">NextDraw</a>
          <div class="nav-collapse collapse">
          <!--   <p class="navbar-text pull-right">
              
            </p> -->
            <ul class="nav pull-right">
            <!--  <li class="active"><a href="#">Home</a></li>-->
                <li><form id="searchbar" action="/search" method="get" class="navbar-search">
                   <input type="text" data-provide="typeahead" name='keyword' class="search-query" placeholder="搜尋...">
                   </form></li>
                <!-- <li ><a href="#about">About</a></li>
                <li ><a href="#contact">Contact</a></li> -->

                <li ><a href="/newtopic">+</a>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  <div class="container">
    <div class="row cover_photo">
        <!-- <div class="hero-unit hero shadowbox"> -->
          <img src="../img/index_cover.png" alt="" align="middle">
        <!-- <div class="topic">
          <img src="../img/topic.gif" alt="NextDraw" height="95" width="320" align="middle">
        </div>
        <h1 class="topic">Next Draw</h1>
        <p>上傳圖片與人分享</p>
        <p>發揮全面的想像力</p>
        <p>參與圖片串的製作</p> -->
      </div>
  <div id="content">
    <ul class="thumbnails thumbnailscenter">
       <% 
          var pre=new Array(),count=0;
          for (var i=0;i < 3;){ 
          var k=Math.floor(Math.random()*topics.length);
          var flag = false;
          for(var j=0;j < pre.length;j++)
            {
             if(pre[j] == k)
              {
               flag = true;
               break;
              }
            }
          if(flag)
            continue;

            pre[count]=k;
            count++; 
        %>
      <li class="span3 thumbnail shadowbox" >
     
       <a id="hide thumb1" href="/upload/<%= topics[k].content[0].picurl %>" class="highslide " onclick="return hs.expand(this)"> 
        <div style="width:280px;  height:220px;  overflow:hidden;">
          <img src="/upload/<%= topics[k].content[0].picurl %>" id="hide" alt="Highslide JS" class="animateMe" title="Click to enlarge">
        </div>
       </a>
        <a href="/topic/<%=topics[k].topic %>" class ="title"><h3><%= topics[k].topic%></h3></a>
      <p><%=topics[k].description%></p>
     
      </li>
       <% i++} %>
<!--       <li class="span3 thumbnail shadowbox" >
     
       <a id="hide thumb1" href="/upload/test.jpg" class="highslide " onclick="return hs.expand(this)"> 
        <img src="/upload/test.jpg" id="hide" alt="Highslide JS"class="animateMe" title="Click to enlarge" width=auto /></a>
       <a href="/topic" class="title"><h3>today</h3></a>
      <p>post by justinQQ</p>
     
      </li>

       <li class="span3 thumbnail shadowbox" >
     
       <a id="hide thumb1" href="/upload/test.jpg" class="highslide " onclick="return hs.expand(this)"> 
        <img src="/upload/test.jpg" id="hide" alt="Highslide JS"class="animateMe" title="Click to enlarge" width=auto /></a>
       <a href="/topic" class="title"><h3>today</h3></a>
      <p>post by justinQQ</p>
     
      </li>
          -->
      </div>
    </div>
   </ul>
    <script src="/js/bootstrap.js"></script>
  </div>
  
        <!-- Scripts -->
  <script type="text/javascript" src="./javascripts/jquery.min.js">  ​</script>
  <script type="text/javascript" src="./javascripts/jquery-ui.min.js"> </script>
  <script type="text/javascript" src="./javascripts/code.js"></script>
    <script type="text/javascript" src="./javascripts/bootstrap.js"></script>
<!— 圖片放特效 —>
<script type="text/javascript" src="./javascripts/highslide/highslide.packed.js"></script>
<script type="text/javascript" src="./javascripts/highslide/highslide-with-html.packed.js"></script>
<link rel="stylesheet" type="text/css" href="./javascripts/highslide/highslide.css" /> 
<script type="text/javascript"> hs.graphicsDir = './javascripts/highslide/graphics/'; hs.showCredits = false; hs.outlineType = 'rounded-white'; hs.outlineWhileAnimating = true; </script>
<!— 圖片放特效 結束 —>
   <script type="text/javascript">
  $(".title").on("click",function(){
    console.log($(this).text());
    $.post('/topic',{title:$(this).text()},function(){console.log('success');});
    //alert('hi');
  });
   </script>
  </body>
</html>