<!DOCTYPE html>
<html>
<head>
   
    <title>Next Draw</title>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=301124913339612";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
     <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/mystyle.css' />
      <link href='http://fonts.googleapis.com/css?family=Rancho' rel='stylesheet' type='text/css'>
  </head>
  <body>
     <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">NextDraw</a>
          <div class="nav-collapse collapse">
          <!--   <p class="navbar-text pull-right">
              
            </p> -->
            <ul class="nav pull-right">
            <!--  <li class="active"><a href="#">Home</a></li>-->
                <li><form id="searchbar" action="/search" method="get" class="navbar-search">
                   <input type="text" data-provide="typeahead" name='keyword' class="search-query" placeholder="搜尋...">
                   </form></li>
                <!-- <li ><a href="#about">About</a></li>
                <li ><a href="#contact">Contact</a></li> -->

                <li ><a href="/newtopic">+</a>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class='margintop'>
    <div style="margin-bottom:10px; font-size:20px;">"<%= keyword %>" 搜尋結果</div>
       <% for (var k=0;k < result.length; k++){ %>
      <li class="span3 thumbnail shadowbox" >
     
       <a id="hide thumb1" href="/upload/<%= result[k].content[0].picurl %>" class="highslide " onclick="return hs.expand(this)"> 
        <div style="width:280px;  height:220px;  overflow:hidden;">
            <img src="/upload/<%= result[k].content[0].picurl %>" id="hide" alt="Highslide JS" class="animateMe" title="Click to enlarge" align="bottom"></a>
        </div>
        <a href="/topic/<%=result[k].topic %>" class ="title"><h3><%= result[k].topic%></h3></a>
      <p>post by justinQQ</p>
     
      </li>
       <% } %>
    </div>     
       <!-- Scripts -->
<script type="text/javascript" src="./javascripts/jquery.min.js">  ​</script>
  <script type="text/javascript" src="./javascripts/jquery-ui.min.js"> </script>
  <script type="text/javascript" src="./javascripts/code.js"></script>
    <script type="text/javascript" src="./javascripts/bootstrap.js"></script>
    <!— 圖片放特效 —>
<script type="text/javascript" src="./javascripts/highslide/highslide.packed.js"></script>
<script type="text/javascript" src="./javascripts/highslide/highslide-with-html.packed.js"></script>
<link rel="stylesheet" type="text/css" href="./javascripts/highslide/highslide.css" /> 
<script type="text/javascript"> hs.graphicsDir = './javascripts/highslide/graphics/'; hs.showCredits = false; hs.outlineType = 'rounded-white'; hs.outlineWhileAnimating = true; </script>
<!— 圖片放特效 結束 —>

  </body>
</html>