<!DOCTYPE html>
<html>
  <head>
        <title>Next Draw</title>
     <link rel="stylesheet" href="../css/waterwheel-carousel.css" charset="utf-8" />
         <link href="../css/bootstrap.css" rel="stylesheet" media="screen">
     <link rel='stylesheet' href='/stylesheets/mystyle.css' />
     <link rel='stylesheet' href='/stylesheets/style.css' />
     <link href='http://fonts.googleapis.com/css?family=Rancho' rel='stylesheet' type='text/css'>
     <script type="text/javascript" src="../javascripts/highslide/highslide-with-html.packed.js"></script>
<link rel="stylesheet" type="text/css" href="../javascripts/highslide/highslide.css" /> 
<script type="text/javascript"> hs.graphicsDir = '../javascripts/highslide/graphics/'; hs.showCredits = false; hs.outlineType = 'rounded-white';
  hs.wrapperClassName = 'draggable-header'; </script>
    <div id="fb-root"></div>
<div id="fb-root"></div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=301124913339612";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  </head>
<body>

 <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">NextDraw</a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
                <li><form id="searchbar" action="/search" method="get" class="navbar-search">
                   <input type="text" data-provide="typeahead" name='keyword' class="search-query" placeholder="搜尋...">
                   </form></li>
                <!-- <li ><a href="#about">About</a></li>
                <li ><a href="#contact">Contact</a></li> -->

                <li ><a href="/newtopic">+</a>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  
<div class="container">

  <h2 class=" well shadowbox "><%=topic%>
  <div class="fb-like" data-href="http://localhost:3000/topic/<%=topic%>" data-send="true" data-width="450" data-show-faces="true" data-font="arial"></div>
  <br>
  <h4><%=description%></h4></h2>

  

    <div class ="well  " id="waterwheel-carousel-vertical">
      <div class="carousel-images">
           <% for (var k=0;k < piclist.length;k++){ %>

              <img href="#myModal" id='<%=k%>' src ='/upload/<%= piclist[k].picurl %> ' data-toggle="modal" class='userpicture'></img>
              <br>
             
               <% } %>

      </div>
    </div>
    <div class='well shadowbox commentbox'id ='comment'>
      <% for (var k=0;k < piclist.length;k++){ %>
      <div class="<%=k%> comment" style="display:none;" >
        <h4 class="text-error "><%=piclist[k].picdescription %></h4> 
          <hr />
          <div  class="fb-comments" data-href='http://localhost:3000/upload/<%= piclist[k].picurl %> ' data-width="300" data-num-posts="4"></div>
      </div>
               <% } %>
  </div>
    

<div class='  '>
  <form method='post' action='/upload/<%= topic%>' ENCTYPE="multipart/form-data"  >
      <div class="cover_div">
<!-- <<<<<<< HEAD
    <button href="#" class="btn btn-danger" >上傳檔案</button>
======= -->
    <button href="#" class="btn btn-danger" >上傳檔案</button>
<!-- >>>>>>> dd2d7daa1b378b5807acc8cbd43b7e428ae46f58 -->
    <div class="clear"></div>
  </div>
  <input type="file" name="file" id="file0" class="hide_input" >
    <!-- <input type="file" name="file" id="file0" multiple="multiple" /><br> -->

   
    <input type='text' name='picdescription' placeholder='description' />
      <button>送出</button>
      <br>
       <img src="" id="img0" width="200px" >
    </form>
   
<hr>
</div>
 <div class="fb-comments" data-href="http://localhost:3000/topic/<%=topic%>" data-width="680" data-num-posts="4"></div>
<!-- <a id ='commentbut' href="index.htm" onclick="return hs.htmlExpand(this, { headingText: 'Lorem ipsum' })">
  Open HTML-content
</a> -->
<!-- <button id ='commentbut'>顯示留言!</button> -->
 

</div>
</div>
  

  <script type="text/javascript" src="../javascripts/jquery.min.js">  ​</script>
  <script type="text/javascript" src="../javascripts/jquery-ui.min.js"> </script>
  <script type="text/javascript" src="../javascripts/code.js"></script>
  <script type="text/javascript" src="../javascripts/bootstrap.js"></script>
  <script type="text/javascript" src="../javascripts/jquery.waterwheelCarousel.js"></script>



  <script type="text/javascript">
      $(document).ready(function () {
        $("#waterwheel-carousel-default").waterwheelCarousel();
        
        $("#waterwheel-carousel-vertical").waterwheelCarousel({
            orientation: 'vertical',
            startingItemSeparation: 130,
            startingWaveSeparation: 20,
            autoPlay:0,
            startingItem:0,
            keyboardNav:true,
            flankingItems:1,
            itemDecreaseFactor:1,
            centerOffset: 10 , 
            edgeReaction: 'nothing' ,
            movedToCenter: function($clickedItem) {
      // $clickedItem is a jQuery wrapped object describing the image that was clicked.
            var imageUrl = $clickedItem.attr('id');
            //alert('The center image was just clicked. The id of the image is: ' + imageUrl);
              $('.comment').hide();
               $('.'+imageUrl).show();
          },

        });

      });
  
  /**
   * 使用HTML5 File API, 來即時預覽image
   */
  $("#file0").change(function(){
    var objUrl = getObjectURL(this.files[0]) ;
    console.log("objUrl = "+objUrl) ;
    if (objUrl) {
      $("#img0").attr("src", objUrl) ;
    }
  }) ;
  
  /**
   * 建立一個可存取到該file的url
   * PS: 瀏覽器必須支援HTML5 File API
   */
  function getObjectURL(file) {
    var url = null ; 
    if (window.createObjectURL!=undefined) { // basic
      url = window.createObjectURL(file) ;
    } else if (window.URL!=undefined) { // mozilla(firefox)
      url = window.URL.createObjectURL(file) ;
    } else if (window.webkitURL!=undefined) { // webkit or chrome
      url = window.webkitURL.createObjectURL(file) ;
    }
    return url ;
  };
    function setText(ob,name){  
    document.getElementById(name).value=ob.value;;  
}  
  </script>
 
  </body>
</html>