<!DOCTYPE html>
<html>
  <head>
        <title>Next Draw</title>
     <link rel="stylesheet" href="../css/waterwheel-carousel.css" charset="utf-8" />
         <link href="../css/bootstrap.css" rel="stylesheet" media="screen">
     <link rel='stylesheet' href='/stylesheets/mystyle.css' />
     <link rel='stylesheet' href='/stylesheets/style.css' />
     <link href='http://fonts.googleapis.com/css?family=Rancho' rel='stylesheet' type='text/css'>
    <div id="fb-root"></div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=301124913339612";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  </head>
<body>
 <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">NextDraw</a>
          <div class="nav-collapse collapse">
            <!-- <p class="navbar-text pull-right">
              <a href="#" class="navbar-link">+</a>
            </p> -->
            <ul class="nav pull-right">
            <!--  <li class="active"><a href="#">Home</a></li>-->
                <li ><a href="#about">About</a></li>
                <li ><a href="#contact">Contact</a></li>
                <li ><a href="/newtopic">+</a>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div> 
  
<div class="container">
<div class="row">
  <h2 class="offset1 well shadowbox"><%=topic%></h2>
    <div class ="well offset1" id="waterwheel-carousel-vertical">
      <div class="carousel-controls">
<!--         <div class="carousel-prev"><a href="#">&lt; move down</a></div>
        <div class="carousel-next"><a href="#">&gt; move up</a></div> -->
      </div>
      <div class="carousel-images">
           <% for (var k=0;k < piclist.length;k++){ %>

              <img href="#myModal" src ='/upload/<%= piclist[k].picurl %> ' data-toggle="modal" class='userpicture'></img>
              <br>
             
               <% } %>

      </div>
    </div>
<!--   <i class="icon-arrow-up btntop" id="leftDir"></i>
    <div id="scrollbox">
      <div class="scrollcon">
        <div id="boximg" class="scrollpic">
<<<<<<< HEAD
          <ul> -->
             <!--  <% piclist.forEach(function(pic){ %>
              <img href="#myModal" src ='/upload/<%= pic.picurl %> ' data-toggle="modal"></img>
              <br>
              
               <% }) %> -->
<!--              
=======
          <ul>
              <% for (var k=0;k < piclist.length;k++){ %>
              <li><img src ='/upload/<%= piclist[k].picurl %> '></img><br />
              </li>
    
              <br>
               <% } %>
       
>>>>>>> f4b603689b0d9958ebfa5a0c7374642af4258fa9
          </ul>
        </div>
      </div>
    </div>

<i class="icon-arrow-down btnbottom" id="rightDir"></i>
</div> -->
<div class=' offset1'>
  <form method='post' action='/upload/<%= topic%>' ENCTYPE="multipart/form-data"  >
    <input type='file' name='file' />
    <input type='text' name='picdescription' placeholder='description' />
      <button>送出</button>
    </form>
    <div class="fb-comments" data-href="http://localhost:3000/topic/<%=topic%>" data-width="680" data-num-posts="4"></div
</div>
</div>
<!-- Button to trigger modal -->
 
<!-- Modal -->



  <script type="text/javascript" src="../javascripts/jquery.min.js">  ​</script>
  <script type="text/javascript" src="../javascripts/jquery-ui.min.js"> </script>
  <script type="text/javascript" src="../javascripts/code.js"></script>
      <script type="text/javascript" src="../javascripts/bootstrap.js"></script>
      <script type="text/javascript" src="../javascripts/jquery.waterwheelCarousel.js"></script>
       <script type="text/javascript">
      $(document).ready(function () {
        $("#waterwheel-carousel-default").waterwheelCarousel();
        
        $("#waterwheel-carousel-vertical").waterwheelCarousel({
            orientation: 'vertical',
            startingItemSeparation: 130,
            startingWaveSeparation: 20,
            autoPlay:0,
            startingItem:0,
            keyboardNav:true,
            flankingItems:1,
            itemDecreaseFactor:1,
            centerOffset: 10 , 
             edgeReaction: 'nothing' 
        });

      });
    </script>
  </body>
</html>